<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="/">&nbsp;</a>
  <!-- Hamberger menu-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Nav Bar including link-->
  <div class="container">
    <div class=" collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link scrollto <%= (title === 'Home') ? 'active' : '' %>"><i class="bx bx-home"></i>
            <span>Home</span></a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link scrollto <%= (title === 'About') ? 'active' : '' %>"><i
              class="bx bx-user"></i> <span>About</span></a>
        </li>
        </li>
        <li class="nav-item">
          <a href="/projects" class="nav-link scrollto <%= (title === 'Projects') ? 'active' : '' %>"><i
              class="bx bx-user"></i> <span>Projects</span></a>
        </li>
        <li class="nav-item">
          <a href="/services" class="nav-link scrollto <%= (title === 'Services') ? 'active' : '' %>"><i
              class="bx bx-user"></i> <span>Services</span></a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link scrollto <%= (title === 'Contact') ? 'active' : '' %>"><i
              class="bx bx-user"></i> <span>Contact me</span></a>
        </li>
      </ul>
    </div>
  </div>

</nav>
<!-- Logo and Slogan Banner-->
<div class="banner">
  <div class="container logo-slogan">
    <div class="logo">
      <div class="logo-shadow">
        <img src="assets/images/logo.png" id="logo" height="150" alt="logo">
      </div>
    </div>
    <div class="banner-text">
      <div class="slogan">
        <h1 class="slogan-text">Coding with Tim<span>make you drunk...<br>likes drinking in the bar.</span></h1>
      </div>
    </div>
  </div>
</div>